# Claude API Key (必填)
ANTHROPIC_API_KEY=sk-8518979e68294617bab
ANTHROPIC_AUTH_TOKEN=sk-8518979e68294617babd27
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
MODEL=deepseek-v4-flash

# TikHub API Token (必填)
TIKHUB_TOKEN=vZdfXsQag0amkXarPbOZ8S3nNTqVRrVysjLT4Ai8aA==

# 服务端口
PORT=3001
